@use "../utils/variables" as *;

.mainAuthContainer {
    display: flex;
}

.textCard {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $primary-color;
    margin: 1em;
    height: calc(100vh - 2em);
    padding: 2em;
    width: 40%;
    border-radius: 1.7em;
}

.authFormContainer {
    padding: 2em;
    width: 100%;
    .authFormContent {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 4em);

        flex-direction: column;
    }
}

.signinButtons {
    padding: 2em 0;
}

.authTitle {
    color: $secondary-light-beige-color;
}

.authInspiringText {
    color: $secondary-light-beige-color;
    font-weight: 100;
}

.signinButtons {
    display: flex;
    flex-direction: column;
    gap: 0.7em;
    button {
        padding: 1em 2em;
        width: 20em;
    }
}
