@use "../utils/variables" as *;

.cartSearch {
    text-align: center;
}

.cartTable {
    width: 100%;
    margin: 2em 0;
    background-color: $secondary-light-blue-color;
    padding: 1em;
}

.tableHeading {
    text-align: left;
    color: $secondary-grey-blue-color;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9rem;
}

.productCell {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.cartProductImage {
    width: 2em;
    height: 2.5em;
    border-radius: 0.7em;
}

.orderDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.countCell {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.tableRow {
    // padding: 50em;
}
