@use "../../styles/utils/breakPoints" as *;
@use "../../styles/utils/variables" as *;

.store {
    background-color: white;
}

.newSearchContainer {
    margin: 1.7em 0 0.9em 0;
}

.searchResults {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    gap: 1em 0;
    margin: 2em 0;

    min-height: calc(100vh - 31em);
    @include media("<=1250px") {
        grid-template-columns: repeat(6, 1fr);
    }
    @include media("<=1080px") {
        grid-template-columns: repeat(5, 1fr);
    }
    @include media("<=940px") {
        grid-template-columns: repeat(4, 1fr);
    }
    @include media("<=755px") {
        grid-template-columns: repeat(3, 1fr);
    }
    @include media("<=590px") {
        grid-template-columns: repeat(2, 1fr);
    }
    @include media("<=390px") {
        grid-template-columns: repeat(1, 1fr);
    }
}

.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.genres {
    display: flex;
    gap: 0.5em;
}

.mainSearchConatiener {
    padding: 0.7em;
    background-color: $secondary-light-blue-color;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.7em;
    input {
        background-color: $secondary-light-blue-color;
        width: 100%;
        border: none;
        outline: none;
    }
    button {
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
    }
}
