@use "../../styles/main.scss" as *;

.mainConatiner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3em;
    .pagesNumbers {
        display: flex;
        gap: 0.3em;
    }
}

.paginationDetailsPopup {
    position: absolute;
    right: calc(50% - 2.8em);
    top: -25%;
    width: 5em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0.3em;
    border: solid $primary-color 0.1em;
    justify-content: center;
    border-radius: 0.7em;
    inset: 1;
    div {
        text-align: center;
    }
    input {
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
    }
}
