@use "../../../styles/main.scss" as *;

.layout {
    min-height: 100vh;
    main {
        max-width: 140ch;
        margin: 0 auto;
        @include media("<1253px") {
            margin: 0 1.7em;
        }
    }
}
