@use "../../../styles/main.scss" as *;
// @use "../../../styles/utils/variables" as *;

.mobileNav {
    @include media(">tablet") {
        display: none;
    }
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    padding: 0.9em 1.7em;
    background-color: $secondary-light-beige-color;

    .logo,
    .auth {
        width: 10em;
    }

    .routs {
        display: flex;
        gap: 1em;
        list-style: none;
        .link {
            text-decoration: none;
            color: $dark-greyscale-color;
        }
        .currentLink {
            text-decoration: none;
            color: $dark-greyscale-color;
            border-bottom: $primary-color solid 0.2em;
            font-weight: 500;
        }
        @include media("<tablet") {
            display: none;
        }
    }

    .auth {
        display: flex;
        gap: 0.5em;
        justify-content: flex-end;
        @include media("<tablet") {
            display: none;
        }
    }
}
