$primary-color: #0f1219;

$secondary-green-color: #a2eeb2;
$secondary-dark-blue-color: #2d3341;
$secondary-grey-blue-color: #738198;
$secondary-light-blue-color: #f4f8fb;

$repeler-color: #b95573;
$attractor-color: #ddfd62;

/*
main concept
----------


-   the main aim is to make it clean for store usage and the power point will be simplicity of compolex things thins and animations
what about this simple and greate color pallete https://dribbble.com/shots/19262105-Nook-Members-Settings as it will support dark mode, or this https://dribbble.com/shots/18462998-Company-profile-settings-Untitled-UI
, just choice colored bgc or white and colored content
// Repeler and attractors (biggest contrast with this color pallete + color physyology concept)

*/

//---------------------------------------------------------------------- old color pallete 2

// main primary color
// $primary-color: #325230;

// // secondary colors
// $secondary-light-green-color: #476a43;
// $secondary-dark-green-color: #3b5c36;
// //
// $secondary-beige-color: #f9ca7b;
// $secondary-light-beige-color: #fffae6;
// $secondary-dark-beige-color: #faf6db;

// // Repeler and attractors (biggest contrast with this color pallete + color physyology concept)
// $repeler-color: #bd1b4c;
// //
// $attractor-color: #ff8b1f;

// // grey scale
// $dark-greyscale-color: #171717;
// $grey-greyscale-color: #d1d1d1;
// $light-greyscale-color: #f9f9f9;

/*
color pallete
-------------

- pirmary (50-60%) of elemnt usage
+ (2-4) colors
+ neutrals

- green / blue / brown / greyscale

------------------

- i need to pove that books are fun and useful (primary is not from grey scale colors)
- i choosed this https://dribbble.com/shots/19476699-METRIS-Product-Landing-Page-Design because it has brighter color scale which proves the first point that i want to prove and also it green as book make us grow
- Repeler and attractors (biggest contrast with this color pallete + color physyology concept) (must be not repetitve, use it to attract or repel the user from special unrepetitve things)
*/

//---------------------------------------------------------------------- old color pallete 1

// $main-primary-color: #03a670;
// $first-dark-primary-color: #007950;
// $second-dark-primary-color: #006f4a;
// $light-primary-color: #f2f8f6;

// // this is not specified yet
// $secondary-color: #f5f3ef;
// // $dark-secondary-color: #f5f3ef;
// $second-secondary: #b5980e;
// //------------------------------------------

// $danger-color: #bd1b4c;
// $light-danger-color: rgb(240, 89, 89);

// $black: rgb(45, 50, 45);

// $grey-color: #c5c5c5;
// $light-grey-color: rgb(244, 244, 244);
