.container {
    padding: 0.5em 0;
    margin: 0.5em 0;

    &[titleposition="center"] .title {
        text-align: center;
    }

    &[display="flex"] {
        display: flex;
        gap: 1em;
    }

    &[titleposition="left"] .title {
        text-align: left;
    }

    &[padding="big"] {
        padding: 2em;
    }
    &[margin="big"] {
        margin: 3em 0;
    }

    &[indentation="1"] {
        margin-left: 1em;
    }
    &[indentation="2"] {
        margin-left: 2em;
    }
    &[indentation="3"] {
        margin-left: 3em;
    }
    &[indentation="4"] {
        margin-left: 4em;
    }
}

.content {
    &[display="flex"] {
        display: flex;
        gap: 1em;
    }
}
