@use "../styles/vars.scss" as *;

.advertisingContainer {
    background-color: $main-primary-color;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding: 5em;
}
