$main-primary-color: #03a670;
$first-dark-primary-color: #007950;
$second-dark-primary-color: #006f4a;
$light-primary-color: #f2f8f6;

// this is not specified yet
$secondary-color: #f5f3ef;
// $dark-secondary-color: #f5f3ef;
$second-secondary: #b5980e;
//------------------------------------------

$danger-color: #bd1b4c;
$light-danger-color: rgb(240, 89, 89);

$black: rgb(26, 28, 26);

$grey-color: rgb(197, 197, 197);
$light-grey-color: rgb(244, 244, 244);
